@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;300&display=swap');

body {
    padding: 25px;
}
* {
    text-align: center;
    list-style: none;
    font-family: 'Spectral SC', serif;
}

h1 {
    border: 5px solid black;
    background-color: rgba(78, 14, 14, 0.76);
    color: white;
}

.abc {
    border: 5px solid black;
    background-color: rgba(78, 14, 14, 0.623);
    margin: 10px;
    padding: 50px;
    font-size: 25px;
    color: white;
}

button {
    margin: 95px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.726);
    align-items: center;
}

a {
    color: aliceblue;
}

button:active {
    background-color:  rgba(78, 14, 14, 0.884);
}
